include pyproject.toml
include README.md
include LICENSE
include requirements.txt

recursive-include ExternalAPI *.json *.yaml *.yml *.toml *.txt *.csv *.ini

global-exclude pycache *.py[cod]
global-exclude .DS_Store
prune .github
prune .git
prune dist
prune build
prune *.egg-info